@import url("https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap");

html {
  height: 100px;
}
header {
  position: sticky;
  top: 0;
}
hr {
  border-bottom: 3px solid white;
}
#header-wrapper {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  min-height: 120px;
  background: linear-gradient(-30deg, rgb(53, 27, 27), transparent);
}

#header-wrapper #header-info {
  padding: 10px;
}

#header-info {
  padding: 10px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

#header-picture img {
  border-radius: 50%;
  border: 4px solid rgba(138, 135, 135, 0.413);
  transition: 0.5s;
}

#header-picture img:hover {
  border-radius: 500% 50px 500% 5px;
  border-color: rgb(138, 51, 51);
}

h1 {
  color: white;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 0.5vw;
}

h2 {
  text-align: center;
  color: white;
}

#top-menu-bar {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: rgb(94, 75, 75);
  margin: 0;
  padding: 2px;
}

#top-menu-bar li {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: white;
}

#top-menu-bar a {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  transition: 0.5s;
  /* z-index: 100; */
}

#top-menu-bar a.active {
  color: rgb(221, 29, 29);
  background: white;
}
#top-menu-bar a:hover {
  font-size: 20px;
  background-color: white;
  color: rgb(97, 55, 55);
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-top: 2px solid white;
}
.veggies {
  height: 200px;
  width: 300px;
}

#title img {
  border-radius: 10px;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: rgba(87, 83, 83, 0.596);
}

#content {
  flex: 4;
  display: flex;
  flex-direction: row;
}

#products {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}

#products div {
  display: inline-block;
  align-content: center;
  border: 2px solid rgb(238, 223, 223);
  border-radius: 10px;
  align-items: center;
  background: linear-gradient(black, transparent);
}
#products img {
  object-fit: cover;
  object-position: 15% 100%;
  max-height: 100%;
  max-width: 100%;
  padding: 5px;
  border-radius: 20px;
}

footer {
  /* background-color: rgb(52, 55, 238); */
  color: white;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  right: 0;
  gap: 10px;
}
footer img {
  padding-top: 10px;
}
footer span {
  display: inline-block;
  align-content: center;
}
footer a {
  text-decoration: none;
  color: white;
}
@media screen and(min-width:380px) {
  #top-menu-bar {
    display: block;
    width: 40px;
  }

  #header-picture {
    display: none;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 1em;
    display: flex;
    flex-direction: column;
  }
  header {
    display: flex;
    flex-direction: column-reverse;
    font-size: 1rem;
  }
  #top-menu-bar {
    display: flex;
    flex-direction: row;
    width: 120px;
    background-color: inherit;
  }

  #top-menu-bar li {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 2px;
  }
  #top-menu-bar a {
    display: block;
    /* background: red; */
    color: white;
  }
  #top-menu-bar a:hover {
    font-size: 1rem;
    background: white;
    border-right: 2px solid white;
  }

  #top-menu-bar a {
    padding: 5px 10px 5px 10px;
    font-size: 1rem;
    border-bottom: 2px solid white;
  }
  h1 {
    font-size: 1.2rem;
    color: rgb(241, 231, 231);
  }
  h2 {
    font-size: 1.1rem;
    color: rgb(241, 231, 231);
  }

  #header-picture {
    display: none;
  }
  #content {
    flex-direction: column-reverse;
  }

  #products {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }
}
